
backendChessmate/mongo-data/_mdb_catalog.wt
backendChessmate/mongo-data/collection-0--4195247634418971110.wt
backendChessmate/mongo-data/collection-2--4195247634418971110.wt
backendChessmate/mongo-data/collection-4--4195247634418971110.wt
backendChessmate/mongo-data/diagnostic.data/metrics.2019-11-26T03-14-10Z-00000
backendChessmate/mongo-data/diagnostic.data/metrics.interim
backendChessmate/mongo-data/index-1--4195247634418971110.wt
backendChessmate/mongo-data/index-3--4195247634418971110.wt
backendChessmate/mongo-data/index-5--4195247634418971110.wt
backendChessmate/mongo-data/index-6--4195247634418971110.wt
backendChessmate/mongo-data/journal/WiredTigerLog.0000000001
backendChessmate/mongo-data/journal/WiredTigerPreplog.0000000001
backendChessmate/mongo-data/journal/WiredTigerPreplog.0000000002
backendChessmate/mongo-data/mongod.lock
backendChessmate/mongo-data/sizeStorer.wt
backendChessmate/mongo-data/storage.bson
backendChessmate/mongo-data/WiredTiger
backendChessmate/mongo-data/WiredTiger.lock
backendChessmate/mongo-data/WiredTiger.turtle
backendChessmate/mongo-data/WiredTiger.wt
backendChessmate/mongo-data/WiredTigerLAS.wt
